<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title th:text="${title}"></title>
</head>
<body>
<div class="container py-3">
    <header th:insert="blocks/headerblock :: header"></header>

    <main class="px-3">
        <h1 class="display-6 text-center mb-4">Дисеертационный проект</h1>
        <p class="lead text-center mb-4">Проект ПГНИУ по аутентификации личности</p>
        <p class="text-center mb-4">На базе университета <a href="http://www.psu.ru/" class="text-black">ПГНИУ</a>, by <a
                href="#" class="text-black">@SOK-SurOK</a>.</p>
    </main>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>